In [23]:
import numpy as np

In [ ]:
#creates an integer - less space in memory than float points
5

In [2]:
#creates a float point
3.142

3.142

In [3]:
#also creates a float point - not integer
1.0

1.0

In [4]:
#scientific notation - float
123e2

12300.0

In [5]:
2
#gives integer

2

In [6]:
2.0
#gives float

2.0

In [7]:
2.22
#gives float

2.22

In [8]:
222 
#gives integer

222

In [9]:
2.22e2
#gives float

222.0

In [10]:
#Addition 
2+1

3

In [11]:
#Subtraction
2-1

1

In [12]:
#Multiplication
2*3

6

In [13]:
#Remainder - 10/3 - 9 remains 1
10 % 3

1

In [15]:
#Floor Division - 3*3 and remainder is 1
10 // 3

3

In [16]:
#Exponent
2**10

1024

In [17]:
#Integer + Float should be a float
2 + 2.2

4.2

In [18]:
#Integer * Float should be a float, same w/ exponential etc. 
3.0*2

6.0

In [19]:
#without parenthesis, python does 3*5 first, then adds 2 - similar to pemdas
2+3*5

17

In [20]:
#Answer will be 8 b/c python multiplies and divides first
#due to the division, it returns you a float point even if the division is round!
2*3+10/5

8.0

In [21]:
#can adjust parentheses to change order of operations
3 +(2*5)

13

In [24]:
#2(2*5) doesn't work b/c there is no operation between the 2 and the 2*5

In [25]:
#the number pi
np.pi

3.141592653589793

In [26]:
#Exponential
#The base of the exponential is e
np.exp(2)

7.38905609893065

In [27]:
#log
np.log(1)

0.0

In [28]:
np.exp(np.pi)

23.140692632779267

In [31]:
#log(exp(1)), need to include the np's
np.log(np.exp(1))

1.0

In [32]:
np.log(np.exp(1000))
#doesn't work b/c the number is too big

/Users/colleenodonnell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: overflow encountered in exp
  """Entry point for launching an IPython kernel.

inf

In [33]:
np.log(np.exp(-1000))
#doesn't work b/c the number is too big

/Users/colleenodonnell/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

-inf

In [34]:
x = 2
y = 3.0

In [35]:
x+1

3

In [37]:
#V = P(1 + r/n)^nt
#n reflects bimonthly - so 12/2 = 6
p = 1000
r = .05
n = 6
t = 2
p*(1+ (r/n))**(n*t)

1104.7130674412967

In [38]:
#tuples - build an object called a tuple 
#a tuple is several numeric objects lined up separated by commas
2+22, 22-7, 3*2, 83 %2, 83//2, 23**2

(24, 15, 6, 1, 41, 529)

In [2]:
2+22, 22-7, 3*2, 83 % 2, 83 // 2, 3**23

(24, 15, 6, 1, 41, 94143178827)