# QTM 385

> Class 02/15

> Dates and Times, For loops, conditional statements

## Dates and Times

### Dates and times: the wrong way

In [8]:
# My code here
my_date = "Jan 20, 1932"

In [9]:
type(my_date)

str

In [10]:
my_time = '6:30:00'

In [11]:
type(my_time)

str

In [12]:
my_date2 = 'January 20, 1933'

In [13]:
#difference between 2 dates can't be found w/ strings, computer doesn't recognize as date
my_date2 - my_date

#this doesn't work!

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Dates and times: the right way, using pandas

In [9]:
# My code here
import pandas as pd

In [12]:
my_pandas_date = pd.Timestamp('Jan 20, 1933')

In [14]:
my_pandas_date.year

1933

In [17]:
my_pandas_date.month

1

In [19]:
my_pandas_date.day

20

In [21]:
my_pandas_date.day_name()

'Friday'

In [23]:
my_pandas_date.month_name()

'January'

In [26]:
now = pd.Timestamp.now()
print(now)

2021-02-15 16:38:21.364495

**Exercise**: Do the same for your birthday.

In [32]:
## Your answers here!

my_birthday = pd.Timestamp('Aug 26, 1999')
my_birthday

Timestamp('1999-08-26 00:00:00')

In [35]:
#gives you difference between dates
age = my_birthday - my_pandas_date
age.components

#gives components of date

Components(days=24324, hours=0, minutes=0, seconds=0, milliseconds=0, microseconds=0, nanoseconds=0)

In [36]:
age.days

24324

### How many days

In [30]:
# My code here

26

**Exercise**: How old are you, in days?

In [40]:
## Your answers here!
age_days = now - my_birthday
print(age_days.days)

7844

In [41]:
#if you wanted age in weeks
print(age_days.days / 7)

1120.5714285714287

## Loops

### Indentation

In [6]:
# My code here

#indentation should be for spaces after loop

### For loops

In [15]:
# My code here
#for loops---when you have a list of objects or something that is iterable, string, tuple
#go slice by slice

my_text = 'This is my text'
len(my_text)
#length is representing the number of characters plus spaces

15

In [46]:
for letter in my_text:
    print(letter)
#for create_var in my_text:
#print(letter)
#creates variable letter and slices my_text, displays letter by letter

T
h
i
s

i
s

m
y

t
e
x
t

In [48]:
my_letter = ''
for letter in my_text:
    print(letter)
    my_letter = my_letter + 2*letter
    print(my_letter)

    #shows each character twice and adds to my_letter

T
TT
h
TThh
i
TThhii
s
TThhiiss

TThhiiss
i
TThhiiss  ii
s
TThhiiss  iiss

TThhiiss  iiss
m
TThhiiss  iiss  mm
y
TThhiiss  iiss  mmyy

TThhiiss  iiss  mmyy
t
TThhiiss  iiss  mmyy  tt
e
TThhiiss  iiss  mmyy  ttee
x
TThhiiss  iiss  mmyy  tteexx
t
TThhiiss  iiss  mmyy  tteexxtt

In [49]:
my_list = [0,1,2,3,2,1,0]

In [51]:
for n in my_list:
    print(n)

0
1
2
3
2
1
0

In [53]:
my_tuple = 0,1,2,3,2,1,0
my_tuple

(0, 1, 2, 3, 2, 1, 0)

In [55]:
for n in my_tuple:
    print(n)

0
1
2
3
2
1
0

In [57]:
n
#doesn't erase the variable, just stays at the last point the variable has

0

In [58]:
letter
#can use this to de-bug for loop cause shows you last value

't'

### For loops (strings)

In [8]:
# My code here

### Loops and counting

In [2]:
# My code here
my_text = 'my creative text'
len(my_text)

16

In [3]:
count = 0
for letter in my_text:
    count = count + 1 
    
print(count)

#another way to get length/count

16

In [1]:
count = 0
for letter in my_text:
    count += 1 
    
print(count)

#+= is the same as count + 1

NameError: name 'my_text' is not defined

**Exercise**: Ask the user to enter a string. Then, using loops, count how many letters the string has.

In [7]:
entry = input('Enter string here:')

Enter string here:

In [ ]:
## Your answers here!
count = 0

for letters in entry:
    count +=1

print('You typed: ' count + '\nAnd it has' + str(count) + 'characters.')

## Conditional Statements

### if

In [ ]:
# My code here!
1 > 2

In [ ]:
1 in [1,2,3]

In [ ]:
2 = 2
#doesn't work, can't redefine a number

In [ ]:
2 >= 2
#works!

In [ ]:
2 == 2
#works!

In [ ]:
count

In [ ]:
if count > 20:
    print('More than twenty characters')

print('This is the end of the chunk')

In [ ]:
if True:
    print('True is always True!')

### if in one line

In [ ]:
# My code here!
if count > 20: print('my one line code')

In [ ]:
for i in 'my1': print('x' + i)
    
#but if you have multiple lines, you can't do this

### if-else

In [ ]:
# My code here
my_text = input('Type my text:')
if len(my_text) > 10:
    print('you really like to type')
else:
    print('nicely done in less than 10 characters')
    
print('this is the end')

#if else: either this or this---mutually exclusive things

## Counting lines in a book

### Project Gutenberg

Project Gutenberg is a website with many open books on it. You can check it out using the following URL: https://www.gutenberg.org

### Find working directory

In [14]:
# My code here

### Open file and counting lines

In [15]:
# My code here

**Exercise**: Now count how many characters you have in the book.

In [16]:
## Your answers here!

**Great job!!!**