# QTM 385

> Class 02/03
> Data Types continued

## *Do things* with *stuff*?!

In [4]:
## Check object x = 3 here
x=3

#to check data type
type(x)

int

In [6]:
#to check methods on data type
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [8]:
#can ask for help for any methods to understand what they do
help(x.__abs__)

Help on method-wrapper object:

__abs__ = class method-wrapper(object)
 |  Methods defined here:
 |
 |  __call__(self, /, *args, **kwargs)
 |      Call self as a function.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __objclass__
 |
 |  __self__
 |
 |  __text_signature__

**Exercise**: Check the methods available for the variable `y = 2.1` and search one of your choice

In [9]:
## Your answer here
y = 2.1
dir(y)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__set_format__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

## Strings

### Creating Strings

In [12]:
# My code here
x = 'My first string'
type(x)

S = 'string'

### Checking methods available

In [13]:
# My code here
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Sequence operations

In [15]:
# My code here
S + 'ing'

'stringing'

In [17]:
#Polymorphism - using plus or other operations to floats is different than strings
x = '3'
y = '2.1'
x+y

'32.1'

In [19]:
#Another polymophism
S*3

'stringstringstring'

In [20]:
x*3 + y*2

#will give you whatever x is 3 times and then whatever y is 2 times

'3332.12.1'

### String Slicing

In [22]:
# My code here
#length: - for string it gives number of letters
len(S)

6

In [24]:
#gives first element of string
S[0]

's'

In [26]:
#two from the back - of word string
S[-2]

'n'

In [28]:
S[1:]

'tring'

In [30]:
S[1:3]

'tr'

In [32]:
#remember that starts at 0, which is why s isn't included
S[1:], S[1:len(S)]

('tring', 'tring')

In [44]:
#print last name, first name
first_name = 'Colleen'
last_name = 'ODonnell'
name = last_name + ',' + first_name
name

'ODonnell,Colleen'

In [45]:
#write initials 
first_name[0] + last_name[0]

'CO'

In [46]:
#number of characters in first and last name

#can use tuple 
(len(first_name), len(last_name))

(7, 8)

### String Immutability

In [7]:
# My code here

**Exercise**: Create a variable `first_name` and `last_name` with your names. Then:

- Concatenate as last name, first name. E.g. Mignozzetti, Umberto
- Display only the first letters of your names. E.g. UM
- Check the length of your first and last names.

In [55]:
## Your answers here!

str

### Find and replace parts of a string

In [57]:
# My code here

#can't just do S[0] = '1'

#instead:

S.replace('S', 'Z')

#should change letter 's' w/ letter 'z'

'string'

In [59]:
#If you wanted the position of r
S.find('ri')

#means that letters 'ri' start at position 2

2

In [ ]:
#changes to all upper case letters

S.upper()

**Exercise**: Change the `nice` for `ugly` in `myNiceString = 'My nice string'`. Then, change the answer to upper case.

In [61]:
## Your answers here!
myNiceString = 'My nice string'
myNiceString.replace('nice', 'ugly')

'My ugly string'

In [62]:
myNiceString.upper()

'MY NICE STRING'

## Dynamic typing

In [11]:
# My code here

**Exercise**:

- Create a variable x with number 3 inside
- Find its type
- Change for '3'
- Check its type now

In [64]:
## Your answers here!
x = 3
type(x)

int

In [66]:
x = '3'
type(x)

#the change in x when you redefine it is evidence of garbage collection in python!

str

In [67]:
#could also do - to compare
type(3), type('3')

(int, str)

## Tuples

In [72]:
# My code here

#both tuples and springs are immutable---you can't just call an element of one object and change it, 
#have to use .replace()

#Tuples have same characteristics as strings

S = 'Spam'
tpl = S, S + 'and ham', S + 'is not an email', 5
tpl

('Spam', 'Spamand ham', 'Spamis not an email', 5)

In [74]:
#tuples are immutable
#tpl[1] = '0' -----doesn't work

#when you have objects of different types, may use tuples

**Exercise**: Create a tuple with:

- 'I want'
- 3
- 'cups of coffee'
- 'now!'

In [75]:
## Your answers here!
'I want', 3, 'cups of coffee', 'now!'

('I want', 3, 'cups of coffee', 'now!')

## Lists

In [15]:
# My code here
#can have multiple data types within lists

**Exercise**: Create a list with the following elements:

- 'I want'
- 3
- 'cups of coffee'
- 'now!'

Now:

1. Find the length of this list
2. Use the first and last element to create: 'I want coffee now!'

In [5]:
## Your answers here!
L = [232, 'ham', 2.1]
L + ['ham', 2.4, 'spam']
#polymorphism, adds elements on the end to list

[232, 'ham', 2.1, 'ham', 2.4, 'spam']

In [6]:
#gives third element of list
L[2]

2.1

In [7]:
#another polymorphism
['Emory!']*4

['Emory!', 'Emory!', 'Emory!', 'Emory!']

In [12]:
newlist = ['I want', 3, 'cups of coffee', 'now!']
print(len(newlist))

4

In [16]:
print(newlist[0] + 'coffee' + newlist[-1])

I wantcoffeenow!

### Methods and slicing

In [18]:
# My code here
str([1,2])

#turns list into a string

'[1, 2]'

In [21]:
str([1,2]) + '34'

#glues the two strings together

'[1, 2]34'

In [23]:
list('34')
#creates a list w/ each element of a string

['3', '4']

In [25]:
[1,2] + list('34')

#creates a list w/ 1,2,3,4

[1, 2, '3', '4']

In [28]:
L

[232, 'ham', 2.1]

In [30]:
print(L[0])

232

In [32]:
print(L[-1])

2.1

In [34]:
#slicing list however you want
L[2: len(L)]
#only shows 2nd element which is last one

[2.1]

In [36]:
L[-1:]
#other way of showing you last element

[2.1]

In [38]:
L[:-1]
#shows all elements but last element

[232, 'ham']

In [41]:
L[0:1]
#only shows you 1 element

[232]

### Special Methods

In [42]:
# My code here
L

[232, 'ham', 2.1]

In [45]:
L.append('next')
L

#when you use a method, don't have to save as object

[232, 'ham', 2.1, 'next', 'next', 'next']

In [48]:
L.pop(2)
L
#removed the 2.1

[232, 'ham', 'next']

In [49]:
#If you do l.pop without specifying the index, it will always remove the last element
L.pop()

'next'

### Sort and reverse

In [51]:
# My code here
M = ['cd', 'cc', 'ml', 'QTM', 'House']

In [55]:
M.sort()
M

#sorting where upper case is always before lower case, and then alphabetical

['House', 'QTM', 'cc', 'cd', 'ml']

In [57]:
M.reverse()
M

#gives the reverse of the sort

['House', 'QTM', 'cc', 'cd', 'ml']

In [59]:
L = [2,3,1,2,3,4]
L.reverse()
L
#reverse just reverses order of the list, while the sort looks inside at the elements

[4, 3, 2, 1, 3, 2]

In [60]:
L.sort()
L

[1, 2, 2, 3, 3, 4]

**Exercise**: Create a list with the following elements:

- 'QTM'
- 385

Now sort them.

In [68]:
## Your answers here!
p = ['QTM', '385']
p.sort()
p

#numbers come before letters----but remember the numbers have to be characters

['385', 'QTM']

In [67]:
p.reverse()
p
#reverses order of list, not looking at element

['QTM', 385]

In [69]:
L = [1,2,3,4]
#list
tpl = 1,2,3,4
#tuple

In [70]:
L[0] = 10
#works for a list, lists are mutable

In [72]:
tpl[0] = 10
#doesn't work for a tuple----immutable, like strings

TypeError: 'tuple' object does not support item assignment

In [74]:
L

[10, 2, 3, 4]

In [76]:
L[1:2]
#so its like hard left bracket and soft right

[2]

In [79]:
L[1:2] = [4,5]
L

#cahnging the 1st element in the list with 4,5

[10, 4, 5, 5, 5, 3, 4]

In [82]:
#say you wanted to put the elements 6 and 7 between the 0th and 1st element 
#between the 10 and the 4
L = [10, 4, 5, 3, 4]
L[1:1] = [6,7]
L
#1:1 doesn't show you any elements

[10, 6, 7, 4, 5, 3, 4]

In [83]:
#say you wanted to remove the number 6 from the list 
L[1:2] = []
L

### Out of boundaries

In [21]:
# My code here
#what happens if we try to index elements that are out of the boundary of a list
L[22]
#gives you an error message

### Nesting

In [85]:
# My code here
#list within a list = nesting
L = ['bob', 40, ['manager', 'developer']]
L

['bob', 40, ['manager', 'developer']]

In [86]:
L[2]

['manager', 'developer']

In [88]:
#say you want manager
#first grab the list embedded, then grab the element you want
L[2][0]

'manager'

**Exercise**: Create a list with the following elements:

- ['QTM', '385']
- ['Professor','Umberto']
- ['Student', YOUR FIRST NAME, YOUR LAST NAME]

In [91]:
## Your answers here!
list = [['QTM', '385'], 
        ['Professor', 'Umberto'], 
        ['Student', 'Colleen', 'ODonnell']]

list
#note details, he included brackets on first element

[['QTM', '385'], ['Professor', 'Umberto'], ['Student', 'Colleen', 'ODonnell']]

**Great job!!!**