# QTM 385

> Class 02/08

> Data Types continued: Lists

## Lists

Lists are sequences of elements that:

+ Are ordered (in the sense of positioning)
+ Can be accessed by offset
+ Can 'grow' and 'shrink' as we want
+ Are mutable
+ Can have zero or more different elements

We can apply many methods to lists to reshape them as we want.

In [1]:
# My code here

**Exercise**: Create a list with the following elements:

- 'I want'
- 3
- 'cups of coffee'
- 'now!'

Now:

1. Find the length of this list
2. Use the first and last element to create: 'I want coffee now!'

In [2]:
## Your answers here!

### Methods and slicing

In [3]:
# My code here

### Special Methods

In [4]:
# My code here

### Sort and reverse

In [5]:
# My code here

**Exercise**: Create a list with the following elements:

- 'QTM'
- 385

Now sort them.

In [6]:
## Your answers here!

### Out of boundaries

In [7]:
# My code here

### Nesting

In [8]:
# My code here

**Exercise**: Create a list with the following elements:

- ['QTM', '385']
- ['Professor','Umberto']
- ['Student', YOUR FIRST NAME, YOUR LAST NAME]

In [9]:
## Your answers here!

### Membership

In [2]:
# My code here
L = [1,2,3,4]
2 in L

True

In [4]:
10 in L

False

In [5]:
'House' in L

False

### Repetition

In [7]:
# My code here

['Emory'] * 4

['Emory', 'Emory', 'Emory', 'Emory']

In [9]:
#or

[x * 3 for x in 'Emory!']
#building a comprehension, building a list that has instructions to do things
#instead of elements

['EEE', 'mmm', 'ooo', 'rrr', 'yyy', '!!!']

In [10]:
for x in 'Emory!':
    print(x)
    
#takes each element of the string emory and will print it

E
m
o
r
y
!

In [12]:
L = [x * 3 for x in 'Emory!']
L
#multiplies each element in Emory by 3
#saves result inside of a list

['EEE', 'mmm', 'ooo', 'rrr', 'yyy', '!!!']

### LIFO structure

In [14]:
# My code here

#lists can be used as stacks

#stack --- last in first out

L = []
L.append('first element')
L.append('second element')
L

['first element', 'second element']

In [15]:
#want to extract last element
L.pop()

'second element'

In [16]:
L

['first element']

In [ ]:
#this is how last in first out searcher works, last one in is the first one out

**Exercise**: Create the following list:

- ['QTM', '385', 'Professor','Umberto', 'Student', YOUR FIRST NAME, YOUR LAST NAME]

Check:
1. If your name is there.
2. pop your last name and append your middle name (or other string of your preference).
3. Multiply your name by two and add to this string.
4. Pop the last element.

In [25]:
## Your answers here!
list = ['QTM', '385', 'Professor', 'Umberto', 'Student',
       'Colleen', 'ODonnell']

In [26]:
#check if your name is there
'Colleen' in list

True

In [27]:
my_last_name = list.pop()
my_last_name

'ODonnell'

In [28]:
list.append('Linn')
list

['QTM', '385', 'Professor', 'Umberto', 'Student', 'Colleen', 'Linn']

In [31]:
list.append(['Colleen'] * 2)
list

['QTM',
 '385',
 'Professor',
 'Umberto',
 'Student',
 'Colleen',
 'Linn',
 ['Colleen', 'Colleen'],
 ['Colleen', 'Colleen']]

In [32]:
list.pop()

['Colleen', 'Colleen']

### List comprehensions

List comprehensions are ways to create lists by applying expressions to element sequences.

In [34]:
# My code here

#list interactions
for x in [1,2,3]:
    print(x, end = '')
#gives a space between the elements 
#similar to a comprehension, but doing it in a more compressed way

123

In [36]:
res = [c * 4 for c in [1,2,3,4]]
res

#creates a list where each element is multiplied by 4

[4, 8, 12, 16]

In [38]:
res = []
for c in [1,2,3,4]: 
    res.append(c * 4)

res

[4, 8, 12, 16]

### Matrix

In [1]:
# My code here

M = [[1,2,3], [4,5,6], [7,8,9]]

M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
#extract 2nd column of matrix

res = []

for c in M:
        res.append(c[1])

res
#c[1] refers to middle column

[2, 5, 8]

In [46]:
#but should really do it w/ comprehensions:

[c[1] for c in M]

[2, 5, 8]

In [49]:
#extract diagonal of matrix
[M[i][i] for i in [0, 1, 2]]

[1, 5, 9]

In [51]:
range(2)

range(0, 2)

In [53]:
#extract diagonal of matrix
[M[i][i] for i in  range(3)]

#M[i][i] means elements 1,1; 2,2; 3,3 in a matrix
#for range have to do one above

[1, 5, 9]

In [54]:
#(row, column) for matrix extraction
M[0][0]

1

**Exercise**: Create a 3x3 matrix with the following letters, starting with 'a'. Then:
1. Extract the diagonal.
2. Extract the diagonal and make it upper case.

In [64]:
import pandas as pd 
import numpy as np

## Your answers here!
M = [['a','b','c'], ['d','e','f'], ['g','h','i']]
diagonal = [M[i][i] for i in [0,1,2]]
[x.upper() for x in diagonal]

['A', 'E', 'I']

**Great job!!!** Next class, we will finish all the data types.